[Unit]
Description=dae Service
Documentation=https://github.com/v2rayA/dae
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
LimitNPROC=500
LimitNOFILE=1000000
ExecStartPre=/usr/bin/dae validate -c /etc/dae/config.dae
ExecStart=/usr/bin/dae run --disable-timestamp -c /etc/dae/config.dae
Restart=on-failure

[Install]
WantedBy=multi-user.target
